<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css.map' %}" />
    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="{% url "home" %}">Ignition Matching Movies</a>
        </div>
        <div class="navbar-header page-scroll" style="float: right">
            <a class="navbar-brand" href="{% url "home" %}">By Bertrand Freylin</a>
        </div>
    </div>
</nav>
<section id="content" style="margin-top: 60px;">
   {% block content %}{% endblock %}
</section>
</body>
</html>