{% extends "base.html" %}
{% block content %}
<script>
    $(function() {
      $("#tags").autocomplete({
        source: "get_movies/",
        minLength: 1,
        select: function(event, ui) {
            if(ui.item){
                $('#tags').val(ui.item.value);
            }
            $('.mainNav').css('opacity', 0.2);
            $('.movie-find').css('opacity', 0.2);
            $('.container-fluid').css('opacity', 0.2);
            $('#loading').css('display', 'block');
            $.ajax({
                url : "find_movies/",
                type : "POST",
                data : { the_post : ui.item },
                success : function(json) {
                    var total = '';
                    for (i = 0; i < json.length; i++) {
                        total += '<div class="col-xs-12 col-md-6 col-lg-4 movie-container">';
                        total += '<div class="col-xs-12 col-md-12 col-lg-12 panel panel-primary">';
                        total += '<div class="panel-heading">'+json[i]['title']+'</div>';
                        total += '<div class="panel-body">';
                        if (json[i]['backdrop_path']!=''){
                            total += '<img class="img-back" src="'+json[i]['backdrop_path']+'">';
                        }
                        total += '<div class="col-xs-12 col-md-6 col-lg-6">';
                        total += '<img border="0" alt="W3Schools" src="'+json[i]['poster']+'" width="auto" height="200px">';
                        total += '</div>';
                        total += '<div class="col-xs-12 col-md-6 col-lg-6 movie-container">';
                        total += '<h3 style="font-weight:bold">'+json[i]['title']+'</h3>';
                        total += '<h5 style="font-weight:bold">'+json[i]['release_date']+'</h5>';
                        total += '<h5 style="font-weight:bold">'+json[i]['vote_average']+'  / 5 <span class="glyphicon glyphicon-star" aria-hidden="true"></span></h5>';
                        total += '</div>';
                        total += '</div>';
                        total += '<div class="panel-body">';
                        total += '<div class="col-xs-12 col-md-12 col-lg-12 ellipsis" style="height:80px;">';
                        total += json[i]['overview'];
                        total += '</div>';
                        total += '</div>';
                        total += '<div class="panel-footer" style="height:55px">';
                        total += '<a href="'+json[i]['imdb_path']+'" class="btn btn-info" role="button" style="float:left">IMDB</a>';
                        total += '<a href="'+json[i]['tmdb_path']+'" class="btn btn-info" role="button" style="float:right">TMDB</a>';
                        total += '</div>';
                        total += '</div>';
                        total += '</div>';
                    }
                    $('#movie-list').html(total);
                    $('#movie-result').css('display', 'block');
                    $('.ellipsis').dotdotdot();
                    $('#loading').css('display', 'none');
                    $('.mainNav').css('opacity', 1);
                    $('.movie-find').css('opacity', 1);
                    $('.container-fluid').css('opacity', 1);
                },

                error : function(xhr,errmsg,err) {
                    $('#movie-list').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>");
                    $('#loading').css('display', 'none');
                    $('.mainNav').css('opacity', 1);
                    $('.movie-find').css('opacity', 1);
                    $('.container-fluid').css('opacity', 1);
                    $('#movie-result').css('display', 'block');
                }
            });
        }
      });
    });
</script>
<div id="loading">
</div>
<div class="ui-widget movie-find">
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-film" aria-hidden="true"></span></span>
        <input type="text" class="form-control" placeholder="Dernier film visionné..." id="tags" aria-describedby="sizing-addon1">
    </div>
</div>
<div class="container-fluid panel panel-success" id="movie-result">
    <div class="panel-heading">Vous devriez aimer...</div>
    <div class="row panel-body" id="movie-list">
    </div>
</div>

{% endblock %}